@font-face {
    font-family: 'franchise-bold';
    src: url('');
    src: url('') format('embedded-opentype'),
    url('../fonts/franchise-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/franchise-bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/franchise-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('') format('svg'); /* Legacy iOS */
}
